.navbar {
    background-color: #007bff;
    padding: 15px;
    text-align: center;
    width: 100%;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    font-weight: bold;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  